body {
    background-image: url("../img/newwall.jpg");
    color: white;
    font-family: big shoulders display;
    font-size: 30px;
}


.grid-container {
    display: grid;
    grid-template-areas:

        'header header header header header header'
        'nav nav nav nav nav aside'
        'main main main main main aside'
        'main main main main main aside '
        'footer footer footer footer footer footer';

    grid-gap: 20px;


}

.grid-container>section {

    text-align: center;
    align-items: center;
}

.grid-container>header {
    text-align: center;
}


.header {
    grid-area: header;
    background-color: black;

}

.bogas-logo {
    display: flex;
    float: left;
    height: 170px;
    width: 170px;
}


.titulo-principal {
    font-family: play;
    font-size: 90px;
    font-style: italic;
    color: white;
    margin: 10px 0 10px 0;
    text-shadow: 5px 5px 20px white;

}


.menu {
    grid-area: nav;
}

.menu li {
    display: inline-table;
    width: 100%;
    border: 2px solid white;
    width: 150px;
    height: 25px;
    font-size: 35px;
    font-family: big shoulders display;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;

}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 1.0s;
    border-color: white;
}

.menu li a {
    text-decoration: none;
    color: white;
    
}


.disabled {
    pointer-events: none;
    opacity: 0.1;
}


.main {
    grid-area: main;
}

.titulos-main {
    font-family: goldman;
    font-size: 45px;
    font-style: italic;
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px white;
}

.img-main {
    width: 750px;
    height: 600px;
    border: 3px solid white;
}


.texto-maior {
    font-family: arial;
    font-size: 20px;
    margin: 20px;
}



.aside {
    grid-area: aside;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right:20px;
}

.titulos-aside {
    font-family: goldman;
    font-size: 35px;
    font-style: italic;
    color: white;
    margin: 5px 0 5px 0;
    text-align: center;
}

.texto-aside-socios{
color:white;
margin:10px;
}

.img-aside {
    width: 220px;
    height: 200px;
    border: 2px solid white;
    margin: 50px 0px 50px 0px;
}

.img-aside:hover {
    border-color:black;
}


.img-aside-socio {
    background: white;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px 0px 10px 0px;
}


.video-aside {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    margin-top: 50px;
}

.footer {
    grid-area: footer;
    font-family: play;
    font-size: 30px;
    font-style: italic;
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px white;
}





.tabela-lista {
    width: 100%;
    align-self: center;
    align-items: center;
    color: white;
    border: 5px solid white;
    padding: 20px;
}





#novo-socio {
    text-decoration: none;
    float: left;
    color: black;
    background-color: white;
    margin: 25px;
    padding: 5px;

}

#novo-socio:hover {
    color: white;
    background-color: black;

}

