.tabela-lista {
    display: inline-block;
    margin: 20px;
    color: white;
    padding: 10px;
    width: auto;



}

.tabela-lista th {
    font-size: 25px;
    color: white;
    font-family: play;
    padding: 5px;
    margin: 20px;
    text-align: left;
    border: 1px solid white;
}




.tabela-lista td {

    margin: 15px;
    color: white;
    padding: 7px;
    text-align: left;
    font-size: 25px;


}


.tabela-lista tbody td a {
    text-decoration-color: white;
    font-style: 23px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}


.tabela-lista tbody td button {
    text-decoration-color: black;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.6s;
    margin: 0px;

}

.btnk {

    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: oswald;
    font-size: 20px;
    border: 1px black;
    margin-left: 30px;
    font-weight: bold;


}

.btnk:hover {

    color: red;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;


}

.filtros-select {
    margin: 30px;
    font-size: 20px;
    width: 400px;
    background-color: black;
    color: white;
    font-family: oswald;
    
}

#labelsocios {
    color: white;
    font-size:40px;
    font-family: goldman;
    font-weight:bold;

}