.quadro-treinadores{
  display:block;

}

.quadro-treinadores button{
width:160px;
height:160px;
background-color:black;
align-items: center;
margin:10px;
border:1px solid white;
}

.quadro-treinadores img{
  width:145px;
  height:145px;

}



