body,
html {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-image: url('./img/wall.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

a,
a img {
    text-decoration: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;

}

.principal {
    width: 960px;
    color: white;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecalho,
.logo,
.rodape,
.menu {
    width: 100%;
    display: block;
    clear: both;


}

.menu ul li a {
    font-family: Yusei Magic;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

.menu ul li a:hover {
    background-color: black;
}


.cabecalho {
    height: 100px;
}

.logo-cabecalho {
    float: left;
    font-family: anton;
}

.logo-cabecalho a:hover {
    color: rgba(249, 105, 14, 1);
}

.logo-cabecalho a {
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0 0 0;
}

.pesquisa {
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}

.menu {
    margin:30px;
    background: rgb(200, 200, 200);

}

.menu ul li,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: white;
    padding: 13px 20px;
}

.corpo {
    position: relative;
    overflow: hidden;
    padding:50px;

}

.imagemMain {
    margin-right:10px;
}

.artigos {
    float: left;
}

.artigos,
.artigos :before {
    width: 70%;
}

.artigos:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    z-index: -1;
    content: '';
}

.contato {
    background: silver;
}

.contato h1 {
    color: whitesmoke;
    text-align: center;
    font-family: Yusei Magic;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    font-style: bold;

}

.contato form :not(p) {
    color: black;
    font-family: yusei magic;
    font-size: 21px;

}

.contato form h2 {
    color: whitesmoke;
    text-align: center;
    font-family: Yusei Magic;
    font-size: 32px;
    text-shadow: 1px 1px 2px black;
    font-style: bold;
}

.contato textarea {
    margin-top: 15px;
    margin-bottom: 15px;

}

.contato button {

    background-color: silver;
    color: whitesmoke;
    text-align: center;
    font-family: Yusei Magic;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    font-style: bold;
    align-items: center;
}

.barra-lateral {
    float: right;
   
}

.barra-lateral,
.barra-lateral:before {
    width: 30%;
}

.barra-lateral:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #f1f1f1;
}

.barra-lateral h2 {
    font-family: Big Shoulders Stencil Text;
    font-style: italic;
    font-size: 30px;
    text-align: left;

}

.espacamento-lateral {
    padding: 20px;
    color:black;
    
}

.espacamento-lateral h2{
    text-align:center;
    font-syle:Big Shoulders Stencil Text;
}

.espacamento-lateral p {
    font-style: bold;
    font-size: 20px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
    border: 2px solid black;
}

.espacamento-lateral p:hover{
background-color:orange;
color:black;
border: 2px solid black;
}

.espacamento-lateral a img {
    margin:15px;
    height: 220px;
    width: 220px;
    display: flex;
    
    

}

.video {
    max-width: 100%;
    height: auto;

}



.rodape {
    margin: 100px;
    padding: 20px;
    font-family: goldman;
    text-align: center;
    font-style: italic;
    color: white;
    text-align: center;
}

.rodape p {
    text-align: center;
    font-style: bold;
    font-family: anton;
}